N8N1/Parte 2 Cerebro.json
{
  "name": "Parte 2 Cerebro",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1l_HzYHWIYrtJ420m47POw0GoOq8w2uC2",
          "mode": "list",
          "cachedResultName": "Prueba_n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1l_HzYHWIYrtJ420m47POw0GoOq8w2uC2"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -32
      ],
      "id": "4b6c9972-9ba8-4973-861e-5e8a1880ac69",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XCLxmunJpQT34pnU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        -144
      ],
      "id": "190f32a4-3872-4f50-9874-54c6a64701e4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        -176
      ],
      "id": "cd2c64a6-6cf8-4ac9-877c-cf3a14c9b8b0",
      "name": "Download file",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XCLxmunJpQT34pnU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd1a27ce-f3ea-4f29-9d2b-37a9256bd51d",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98206c31-603c-45bd-a4c5-8fef86c255d6",
              "name": "nombre",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        16
      ],
      "id": "c873e3da-2a2e-4df2-b26d-01347dddb9d5",
      "name": "Obtener ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Obtener ID').item.json.nombre }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "95af01a4-5a9b-4714-a499-28278b779ccf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "badb4751-97e8-405f-a4f1-b49281e8b06a",
                    "leftValue": "={{ $('Obtener ID').item.json.nombre }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "35dcaa98-24d7-4f73-bc53-9e94d7f7b09a",
                    "leftValue": "={{ $('Obtener ID').item.json.nombre }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b39d7a7d-1128-4ef7-b042-4ea025feaa39",
                    "leftValue": "={{ $('Obtener ID').item.json.nombre }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        736,
        -208
      ],
      "id": "afa5d336-5984-4eb4-848e-c54da82ab84a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1088,
        -320
      ],
      "id": "d40ca4fe-dbd2-4479-8e7f-b6310803e333",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1456,
        304
      ],
      "id": "b25d5737-42ea-4904-9f91-803080d5a051",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2304,
        -176
      ],
      "id": "05b79436-ee65-47cb-a326-d37c32cee640",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aOwU6zZIpARvCacc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "=text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1568,
        80
      ],
      "id": "4fc38ece-6d95-47b8-9b94-a5b80a7603f5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LsQPT5gaqbSbLfuY",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.concatenated_data || $json.text || $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $('Obtener ID').item.json.id }}"
              },
              {
                "name": "nombre",
                "value": "={{ $('Obtener ID').item.json.nombre }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2480,
        96
      ],
      "id": "24ae8675-ec34-442c-abe9-f5ad26793280",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2336,
        256
      ],
      "id": "cb28ae5a-48bf-4e9d-8918-1649211946c2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ],
      "id": "75769483-3c8b-4b97-be7b-2c3385fab074",
      "name": "Extract from File2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2208,
        112
      ],
      "id": "3e4678d7-7e9b-4b32-834c-ce18de30e069",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "9xAaj5FfIN30OwgB",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "{{$json.text}}"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1728,
        -304
      ],
      "id": "26f1a583-5b48-43a4-8353-6f1e771bc338",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Obtener ID').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xtpRWFqOB5CiDALrWHLQhzkpnoQUg8Lk",
          "mode": "list",
          "cachedResultName": "Prueba_n8n_gestionados",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xtpRWFqOB5CiDALrWHLQhzkpnoQUg8Lk"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2736,
        -144
      ],
      "id": "63d69e1f-b0a5-4e21-befc-a215969021a1",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XCLxmunJpQT34pnU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2016,
        -320
      ],
      "id": "51866e4a-89cd-4466-a548-28bfb80c7c03",
      "name": "Summarize",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// Para cada item de entrada, concatenamos todas las columnas dinámicamente\nreturn $input.all().map(item => {\n  const row = item.json;\n  \n  // Convertimos el objeto en pares clave: valor\n  const text = Object.entries(row)\n    .map(([key, value]) => `${key}: ${value}`)\n    .join(\", \");\n\n  return {\n    json: {\n      text // campo único con toda la información como string\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -448
      ],
      "id": "598d6de1-4d1e-4e5a-83a7-30a95cbb3fd2",
      "name": "Code2",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2048,
        240
      ],
      "id": "485d8f27-f74f-43c3-a0c5-46d9951f993f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LsQPT5gaqbSbLfuY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Obtener ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbc54797-d1a1-444c-a5d8-e2f38308c65f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb5ff72c7582ead66e87ebd6fd57c0aaa70acae7ba39ccd71090a5c87a9ffb8b"
  },
  "id": "GgbZGSOu3c0nnPhl",
  "tags": []
}